<!DOCTYPE html>
<html>

<head>
    <title>Insert Website Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='animal-detector/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wdth,wght@0,62.5..100,100..900;1,62.5..100,100..900&display=swap"
        rel="stylesheet">
</head>

<body>

    <nav id="navbar">
        <a class="navButton" id="logo" href="../"><img id="logoImage"
                src="{{ url_for('static', filename='assets/logo.svg') }}" alt="Paw Image"></a>
        <a class="navButton" href="../animaldex/">AnimalDex</a>
        <a class="navButton" href="../animal-detector/">Animal Detector</a>
        <a class="navButton" href="../mission/">Mission</a>
    </nav>

    <div class="header">
        <div class="title">Wildlife Conservation</div>
        <div class="subscript">The animal detection tool</div>
    </div>

    <input type="file" id="animal-pic-file" accept="image/png, image/jpeg" />
    <img id="image-preview" src="#" alt="the uploaded image" />
    <button id="send">Send Image</button>

    <div class="result-box" id="resultBox" style="display:none;">
        <h3>Identification Result</h3>
        <div class="result-item"><strong>Animal:</strong> <span id="name">-</span></div>
        <div class="result-item"><strong>Endangered Status:</strong> <span id="endangered_status">-</span></div>
        <div class="result-item"><strong>Is it Invasive:</strong> <span id="is_invasive">-</span></div>
        <div class="result-item"><strong>Population:</strong> <span id="population_count">-</span></div>
        <div class="result-item"><strong>Native Region:</strong> <span id="native_region">-</span></div>
        <div class="result-item"><strong>Fun Facts:</strong> <span id="fun_facts">-</span></div>
    </div>

</body>

<script src="{{ url_for('static', filename='animal-detector/script.js') }}"></script>

</html>