<!DOCTYPE html>
<html>

<head>
    <title>Insert Website Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='animal-detector/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
</head>

<body>

    <nav id="navbar">
        <a class="navButton" id="logo" href="..">HOME</a>
        <a class="navButton" href="">tab3</a>
        <a class="navButton" href="../animaldex/">AnimalDex</a>
        <a class="navButton" href="../animal-detector/">Animal Detector</a>
        <a class="navButton" href="../mission/">Mission</a>
    </nav>

    <div id="header">
        <div class="title">Wildlife Conservation</div>
        <div class="subscript">The animal detection tool</div>
    </div>

    <input type="file" id="animal-pic-file" accept="image/png, image/jpeg" />
    <img id="image-preview" src="#" alt="the uploaded image" />
    <button id="send">Send Image</button>

</body>

<script src="{{ url_for('static', filename='animal-detector/script.js') }}"></script>

</html>