<!DOCTYPE html>
<html>

<head>
    <title>SnapSafari</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='animaldex/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wdth,wght@0,62.5..100,100..900;1,62.5..100,100..900&display=swap"
        rel="stylesheet">
</head>

<body>

    <nav id="navbar">
        <a class="navButton" id="logo" href="../"><img id="logoImage"
                src="{{ url_for('static', filename='assets/logo.svg') }}" alt="Paw Image"></a>
        <a class="navButton" href="../animaldex/">Logbook</a>
        <a class="navButton" href="../animal-detector/">Snap!</a>
        <a class="navButton" href="../login/">Login</a>
    </nav>

    <nav id="navbar">
        </nav>

    <div class="header">
        <div class="title">Wildlife Conservation</div>
        <div class="subscript">See the animals you've collected!</div>
    </div>

    <div class="pokedex-grid">
        </div>

</body>

<div id="animalModal" class="modal">
    <div class="modal-content">
        <span class="close-button">&times;</span>
        <div id="modal-details">
            </div>
    </div>
</div>

<script src="{{ url_for('static', filename='animaldex/script.js') }}"></script>
<script src="{{ url_for('static', filename='navbar-user.js') }}"></script>

</html>
