body {
    font-family: "Noto Sans", serif, sans-serif, sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    padding: 0rem;
    margin: 0rem;
    background-color: #351207;
}

.header {
    margin: 1rem;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 8rem;
    font-weight: 400;
    font-variation-settings:
        "wdth" 62.5;
    color: #ffffff;
}

.subscript {
    font-size: 2rem;
    color: #ffffff;
}

.mission-section {
    margin: 1rem;
    max-width: 100%;
    padding: 1.5rem;
    border: 2px solid #000000;
    border-radius: 0.75rem;
    background-color: #ffffff;
}

.mission-section h2 {
    margin: 0;
    margin-bottom: 0.75rem;
    font-size: 2.25rem;
    font-weight: 600;
    color: #000000;
}

.mission-section p {
    margin: 0;
    font-size: 1.2rem;
    max-width: 90%;
    line-height: 1.7;
    color: #000000;
}