/* Navigation Bar Stuff */

.navButton {
    margin-top: auto;
    margin-bottom: auto;
    text-decoration: none;
    color: #000000;
    padding: 1rem;
    font-weight: 750;
}

#logo {
    padding: 0.2rem;
    margin-right: auto;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    align-self: inherit;
    width: 4rem;
    height: 4rem;
    display: flex;
    max-width: fit-content;
    overflow: hidden;
}

#logoImage {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: contain;
    /*filter: invert(43%) sepia(65%) saturate(322%) hue-rotate(95deg) brightness(99%) contrast(89%)*/
}

#navbar {
    position: relative;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    max-height: 5rem;
    background-color: #ffffff;
    border-bottom: #000000 solid 0.01rem;
}
