/* Navigation Bar Stuff */

.navButton {
    margin-top: auto;
    margin-bottom: auto;
    text-decoration: none;
    color: #53ba82;
    padding: 1rem;
    font-weight: 750;
}

#logo {
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    align-self: inherit;
    width: 2rem;
    height: 2rem;
    display: flex;
    max-width: fit-content;
    overflow: hidden;
}

#logoImage {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: contain;
    filter: invert(43%) sepia(65%) saturate(322%) hue-rotate(95deg) brightness(99%) contrast(89%)
}

#navbar {
    display: flex;
    flex-direction: row;
    max-height: 5rem;
    background-color: #23000f;
}