#header{
    margin: 0rem;
}

.header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./assets/homepage.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 2rem;
}