<!DOCTYPE html>
<html>

<head>
    <title>Insert Website Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
</head>

<body>

    <nav id="navbar">
        <a class="navButton" id="logo" href="">HOME</a>
        <a class="navButton" href="">tab3</a>
        <a class="navButton" href="animaldex/">AnimalDex</a>
        <a class="navButton" href="animal-detector/">Animal Detector</a>
        <a class="navButton" href="mission/">Mission</a>
    </nav>

    <div id="header">
        <div class="title">Wildlife Conservation</div>
        <div class="subscript">A mission of the people</div>
    </div>

</body>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</html>