<!DOCTYPE html>
<html>

<head>
    <title>SnapSafari</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/loading.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wdth,wght@0,62.5..100,100..900;1,62.5..100,100..900&display=swap"
        rel="stylesheet">
</head>

<body>

    <nav id="navbar">
        <a class="navButton" id="logo" href=""><img id="logoImage"
                src="{{ url_for('static', filename='assets/logo.svg') }}" alt="Paw Image"></a>
        <a class="navButton" href="animaldex/">Logbook</a>
        <a class="navButton" href="animal-detector/">Snap!</a>
        <a class="navButton" href="login/">Login</a>
    </nav>

    <div id="loadingOverlay" class="loading-overlay">
        <p class="loading-text">Venturing into the Wild<span class="dots"></span></p>
    </div>

    <div id="header" class="header">
        <div class="title">Endangered Species Identifier</div>
        <div class="subscript">Our landing page!</div>
    </div>

    <section class="mission-section">
        <h2>Our Mission</h2>
        <p>
            Lasting change starts with awareness. We strive to build that awareness by giving people knowledge about the
            animals they encounter, while making learning engaging through a touch of gamification with AnimalDex.
        </p>
    </section>
</body>

<script src="{{ url_for('static', filename='script.js') }}"></script>
<script src="{{ url_for('static', filename='loading.js') }}"></script>
<script src="{{ url_for('static', filename='navbar-user.js') }}"></script>

</html>

