.pokedex-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.animal-card {
    background-color: rgba(255, 255, 255, 0.1);
    border: 0.2rem solid #257856;
    border-radius: 1rem;
    padding: 1rem;
    color: white;
    text-align: center;
    transition: transform 0.2s;
}

.animal-card:hover {
    transform: scale(1.05);
}

.animal-card img {
    width: 100%;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    background-color: #2a1b1b;
    margin: 5% auto;
    padding: 1.5rem;
    border-radius: 1rem;
    width: 80%;
    max-width: 35rem;
    color: white;
    max-height: 90vh;
    overflow-y: auto;
    position: relative;
}

.close-button {
    float: right;
    font-size: 28px;
    cursor: pointer;
}

.modal-image-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 67%;
    max-height: 300px;
    object-fit: cover;
    margin-bottom: 1.2rem;
    margin-top: 1.2px;
}

.modal-image {
    width: 100%;
    height: 100%;
    border-radius: .8rem;
    object-position: center;
    object-fit: contain;
}