#container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.file-upload {
    display: flex;

    margin: 1rem;
    height: 50vh;
    width: 50vw;

    color: #aef5b4;
    background: #0f331e;
    border-radius: 1rem;
    border: solid 0.2rem;
    border-color: #23000f;

    justify-content: center;
    align-items: center;
}

.file-upload:hover {
    transition: 0.25s;
    filter: brightness(80%);
}

#send {
    height: 5vh;
}

#send-and-results {
    margin: 1rem;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#animal-pic-file {
    display: none;
}

.result-box {
    padding: 20px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: none;
    /* hidden until data arrives */
}

.result-box h3 {
    margin-top: 0;
}