.file-upload {
    display: flex;

    margin: 1rem;
    height: 20rem;
    width: 20rem;

    color: #aef5b4;
    background: #0f331e;
    border-radius: 1rem;
    border: solid 0.2rem;
    border-color: #23000f;

    justify-content: center;
    align-items: center;
}

.file-upload:hover {
    transition: 0.25s;
    filter: brightness(80%);
}

#animal-pic-file {
    display: none;
}

.result-box {
    width: 320px;
    margin-top: 20px;
    padding: 20px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: none;
    /* hidden until data arrives */
}

.result-box h3 {
    margin-top: 0;
}